#root {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  --lightBG: #bfb6a0;
  --darkBG: #212121;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
  font-size: 1rem;
}

#light{
  background-color: var(--lightBG);
}

#dark{
  background-color: var(--darkBG);
}

.visible{
  display: block;
  height: 5vh;
  width: 5vh;
  transition: height 400ms
  width 400ms;
}
.visible:hover{
  height: 7vh;
  width: 7vh;
}

.darkmodeicon{
  height: 4vh;
  width: 4vh;
  transition-duration: 400ms;
}

.darkmodeicon:hover{
  height: 6vh;
  width: 6vh;
  transform: rotate(180deg);
}

.nonvisible{
  display: none;
}

.box{
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid transparent;
  border-left: 2px solid #a3a3a3;
  color: #49474c;
  z-index: 2;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Courier New', monospace;
}

.biggest-box{
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.holder-title{
  height: 15vh;
  width: 90vw;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
}

.my-logo{
  height: 15vh;
  width: auto;
  margin: 5vh 0px 5vh 0px;
  z-index: 2;
}

.my-name{
  margin: 0;
  padding: 0;
}

.box-container{
  display: grid;
  height: 70vh;
  width: 100vw;
  grid-template-columns: 40vw 60vw ;
  grid-template-rows: 60vh 10vh ;
  grid-template-areas: 
  "icon-img detail-holder"
  "quote-container all-btn-space"
  ;
}

.holder-footer{
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.footer{
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-img{
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 60vh;
  grid-area: icon-img;
}

.quote-container{
  width: 40vw;
  height: 10vh;
  display: flex;
  justify-content: start;
  align-items: center;
  grid-area: quote-container;
}

.quote{
  height: 6vh;
  width: 30vw;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-info{
  width: 13vw;
  height: 60vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.images-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 8vw;
}

.image-space{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27vw;
  height: 60vh;
}

.my-photo{
  width: 27vw;
  height: fit-content;
  border-radius: 50%;
  z-index: 2;
}

.detail-holder{
  width: 55vw;
  height: 60vh;
  overflow-y: auto;
  grid-area: detail-holder;
  justify-content: center;
  align-items: center;
}

.all-btn-space{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 10vh;
  width: 55vw;
  grid-area: all-btn-space;
}










.social-icons-div{
  width: 5vw;
  height: 5vw;
  position: relative;
}

.colored-si{
  position: absolute;
  left: 0;
  height: 0;
  animation-name: out;
  animation-duration: 50ms;
}

.social-icons{
  width: 5vw;
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}

@keyframes entering{
  0% {height: 0;}
  50% {height: 2.5vw;}
  100% {height: 5vw;}
}
@keyframes out{
  0% {height: 5vw;}
  50% {height: 2.5vw;}
  100% {height: 0;}
}


/* a:hover .social-icons{
  visibility: hidden;
  opacity: 0;
  transition: visible 400ms linear
  opacity 400ms linear;
} */

a:hover .colored-si{
  animation-name: entering;
  animation-duration: 50ms;
  background-color: white;
  height: 5vw;
}










.options-btn{
  height: 6vh;
  width: 11vw;
  transition: 
  height 400ms,
  width 400ms;
}

.options-btn:hover{
  cursor: pointer;
  height: 8vh;
  width: 18vw;
} 


.paragraph{
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.project-image{
  height: 100px ;
  width: 100px;
}

.interior-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-big{
  width: 40vw;
}

.hard-skills-info{
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-detail{
  width: 16vw;
  height: 15vh;
  background-color: var(--lightBG);
  margin: 1rem;
  border-radius: 4px;
}

.skill-image{
  width: 4vw;
}

.project-detail{
  width: 30vw;
  height: 20vh;
  background-color: var(--lightBG);
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

.text-and-skills{
  display: flex;
}

.project-image{
  width: 10vw;
}

.skill-used-img{
  width: 1.2vw;
}

.project-description{
  font-size: small;
}

.span{
  font-weight: 700;
  text-shadow: 3px 3px 3px #ccc;
}


/* ------ QUERYS ------ */

/* ------ QUERYS ------ */

/* ------ QUERYS ------ */

/* ------ QUERYS ------ */

/* ------ QUERYS ------ */

/* ------ QUERYS ------ */

@media screen and ( max-width:490px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

  .biggest-box{
    width: 100vw;
    height: 85vh;
  }

  .holder-title{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-logo{
    height: 12vh;
    width: auto;
  }

  .box-container{
    height: 70vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40vw 60vw ;
    grid-template-rows: 36vh 24vh 10vh ;
    grid-template-areas: 
    "icon-img detail-holder"
    "quote-container detail-holder"
    "all-btn-space all-btn-space"
    ;
  }

  .holder-footer{
    height: 15vh;
    width: 100vw;
  }

  .footer{
    width: 90vw;
  }

  .icon-img{
    display: flex;
    flex-direction: column;
    height: 36vh;
    width: 40vw;
  }

  .image-space{
    width: 42vw;
  }

  .my-photo{
    width: 40vw;
    height: auto;
  }

  .left-info{
    width: 40vw;
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  .images-icons{
    width: 30vw;
    margin-right: 5vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
  }

  .quote-container{
    height: 24vh;
    width: 40vw;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: quote-container;
  }

  .quote{
    height: 24vh;
    width: 31vw;
    margin-right: 5vw;
  }

  .detail-and-btn{
    height: 70vh;
    width: 60vw;
  }

  .detail-holder{
    height: 60vh;
    width: 55vw;
  }

  .all-btn-space{
    position: relative;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .options-btn{
    width: 20vw;
  }



}


@media screen and (min-width:491px) and (max-width:800px){

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
  }

  .biggest-box{
    width: 100vw;
    height: 85vh;
  }

  .holder-title{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .my-logo{
    height: 12vh;
    width: auto;
  }

  .box-container{
    height: 70vh;
    width: 100vw;
    position: relative;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40vw 60vw ;
    grid-template-rows: 48vh 12vh 10vh ;
    grid-template-areas: 
    "icon-img detail-holder"
    "quote-container detail-holder"
    "all-btn-space all-btn-space"
    ;
  }

  .holder-footer{
    height: 15vh;
    width: 100vw;
  }

  .footer{
    width: 90vw;
  }

  .icon-img{
    display: flex;
    flex-direction: column;
    height: 48vh;
    width: 40vw;
  }

  .image-space{
    width: 42vw;
  }

  .my-photo{
    width: 40vw;
    height: auto;
  }

  .left-info{
    width: 40vw;
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }

  .images-icons{
    width: 30vw;
    margin-right: 5vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
  }

  .quote-container{
    height: 12vh;
    width: 40vw;
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: quote-container;
  }

  .quote{
    height: 12vh;
    width: 31vw;
    margin-right: 5vw;
  }

  .detail-and-btn{
    height: 70vh;
    width: 60vw;
  }

  .detail-holder{
    height: 60vh;
    width: 55vw;
  }

  .all-btn-space{
    position: relative;
    width: 90vw;
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .options-btn{
    width: 20vw;
  }

}
